# Access
API_KEY=change-me-please

# Paths
DATA_ROOT=/srv/whisperx
REDIS_URL=redis://127.0.0.1:6379/0
PYTHONPATH=/home/<USER>/whisperx-api-queue

# WhisperX / Torch
WHISPER_MODEL=large-v3
COMPUTE_TYPE=float16
# HF_TOKEN=    # only needed if using diarization
CUDA_VISIBLE_DEVICES=0

# Queue lock
GPU_LOCK_TTL=600
