[Unit]
Description=WhisperX RQ Worker (single GPU)
After=network-online.target redis-server.service
Requires=redis-server.service

[Service]
User=<USER>
Group=<USER>
WorkingDirectory=/home/<USER>/whisperx-api-queue
EnvironmentFile=/etc/default/whisperx-api-queue
ExecStart=/home/<USER>/whisperx/whenv/bin/rq worker whisperx
Restart=on-failure

[Install]
WantedBy=multi-user.target
